body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.Title {
  text-align: center;
  font-size: 2.0em;
  color: #4CAF50;
  margin: 20px 0;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #4CAF50;
}

.input-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #28a745;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.btn-gerate {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-gerate:hover {
  background-color: #218838; 
}

textarea {
  min-height: 100px; 
  resize: vertical; 
}

@media (max-width: 768px) {
  .input-container {
      margin: 10px;
      padding: 15px;
  }

  .btn-gerate {
      font-size: 14px;
  }
}
